**/.env
*.mp3
*.wav
**/.tmp/
codes/extract/*.png
codes/generate/*.png
codes/process/*.png
codes/style_transfer/**/*.png
*.jpg
*.jpeg
*.png
**/__pycache__/
**/=0.27.0
**/.vscode/
codes/data/input_list.txt
codes/data/input_prompt.txt
codes/data/style_list.txt
codes/data/demo
.DS_Store
demo/flagged
codes/data/output
**/nohup.out
codes/music_list.txt