gradio
diffusers>=0.27.0
diffuser
torch>=2.1.1
numpy
fastapi
uvicorn
pydantic
transformers==4.38.1
accelerate
tiktoken
einops
transformers_stream_generator>=0.0.4
scipy
torchvision
tensorboard
matplotlib
pydub
zhipuai
safetensors
pillow
safetensors
opencv-python
# If using attention
opencv-python
ml_collections
# If using aams
tensorflow
modelscope